{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Time Allocated</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-primary">
          <td>Morning Hussle</td>
          <td>07:00</td>
          <td>11:00</td>
          <td>4 Hours</td>
        </tr>
        <tr class="table-success">
          <td align="center">Refresh</td>
          <td>11:00</td>
          <td>14:30</td>
          <td>3.50 Hours</td>
        </tr>
        <tr class="table-primary">
          <td>Office Work</td>
          <td>14:30 [09:30 GMT]</td>
          <td>16:30 [11:30 GMT]</td>
          <td>2 Hours</td>
        </tr>
        <tr class="table-warning">
          <td>Kids Studies</td>
          <td>16:30</td>
          <td>17:30</td>
          <td>1 Hour</td>
        </tr>
        <tr class="table-warning">
          <td>Evening Walk</td>
          <td>17:30</td>
          <td>18:15</td>
          <td>0.75 Hour</td>
        </tr>
        <tr class="table-primary">
          <td>Office Work</td>
          <td>18:15 [13:15 GMT]</td>
          <td>21:15 [16:15]</td>
          <td>3 Hours</td>
        </tr>
      </tbody>
    </table>
    <!-- Schedule for November -->
    <a id="nov_link" href="#">November</a>
    <div class="course_schedule mt-5" id="course_schedule_nov">
      <h4 class="text-muted">[November 14]</h4>
      December 04
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Alogrithmic Toolbox - Implement with Java & Python</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>Java: Principles of Software Design</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Advanced Django - build a blog<mark>(ends in Dec)</mark></td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Advanced Django - build a blog</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Alogrithmic Toolbox - Implement with Java & Python</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Java: Principles of Software Design</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - Javascript</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule for December -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[December 05]</h4>
      January 01
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Algorithmic Toolbox || Principles of Software Design</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>Duke Specialization: Programming Foundations with JS, HTML & CSS || Build Recommendation System</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Advanced Django - build a blog<mark>(started in November)</mark></td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Advanced Django - build a blog</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Algorithmic Toolbox || Principles of Software Design</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Duke Specialization: Programming Foundations with JS, HTML & CSS || Build Recommendation System</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - HTML5 & CSS</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule for January -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[January 02]</h4>
      February 05
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Data Structures (inc. Data Structures and Algorithms Book)</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              Programming Python by Mark Lutz
              <ul>
                <li>Chapter 2 - System tools</li>
                <li>Chapter 3 - Script execution Context</li>
                <li>Chapter 4 - File and directory tools</li>
              </ul>
            </td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Advanced Django - Introduction to REST Framework</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Advanced Django - Introduction to REST Framework</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Data Structures</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Programming Python by Mark Lutz</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - HTML5 & CSS</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule for Feburary -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[February 06]</h4>
      March 05
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Algorithms on Graphs</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              Programming Python by Mark Lutz
              <ul>
                <li>Chapter 5 - Parallel System Tools</li>
                <li>Chapter 6 - Complete System Programs</li>
                <li>Chapter 7 - Graphical User Interfaces</li>
              </ul>
            </td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Advanced Django: Advanced REST Framework</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Advanced Django: Advanced REST Framework</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Algorithms on Graphs</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Programming Python by Mark Lutz</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - React Basics</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule for March -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[March 06]</h4>
      April 02
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Algorithms on Strings</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              Programming Python by Mark Lutz
              <ul>
                <li>Chapter  8 - A tkinter tour, part 1</li>
                <li>Chapter  9 - A tkinter tour, part 2</li>
                <li>Chapter 10 - GUI Coding Techniques</li>
                <li>Chapter 11 - Complete GUI Programs</li>
              </ul>
            </td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Advanced Django: External APIs and Task Queuing</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Advanced Django: External APIs and Task Queuing</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Algorithms on Strings</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Programming Python by Mark Lutz</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - Advanced React</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule for April -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[April 03]</h4>
      April 30
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Advanced Algorithms and Complexity</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              Programming Python by Mark Lutz<br>
              Network Programming
              <ul>
                <li>Chapter  12 - Network Scripting</li>
                <li>Chapter  13 - Client Side Scripting</li>
                <li>Chapter 14 - PyMailGUI Client</li>
                <li>Chapter 15 - Server Side Scripting</li>
                <li>Chapter 16 - PyMailCGI Server</li>
              </ul>
            </td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Meta Backend: Django Web Framework</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Meta Backend: APIs</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Advanced Algorithms and Complexity</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Programming Python by Mark Lutz</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - Principles of UX/UI Design</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Schedule of May -->
    <div class="course_schedule mt-5">
      <h4 class="text-muted">[May 01]</h4>
      June 04
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Objective / Course</th>
            <th scope="col"><center>No. of sessions</center></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>Java: Gnome Assembly Challenge</td>
            <td align="center"><mark>6 @ 4.0 Hours</mark> each</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              Programming Python by Mark Lutz<br>
              Tools and techniques
              <ul>
                <li>Chapter  17 - Databases and Persistance</li>
                <li>Chapter  18 - Data Structures</li>
                <li>Chapter 19 - Text and Language</li>
                <li>Chapter 21 - Python and Development Cycle</li>
              </ul>
            </td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Meta Backend: Full Stack</td>
            <td align="center">6 @ 4.0 Hours each</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>Meta Backend: Cloud Computing</td>
            <td></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>Java: Gnome Assembly Challenge</td>
            <td></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Programming Python by Mark Lutz</td>
            <td></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Meta: Frontend Programming - Principles of UX/UI Design</td>
            <td align="center">3 @ 4.0 Hours each</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}