{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h4>Objectives - By month</h4>
    <table class="table">
      <thead>
        <tr><td>Month</td></tr>
      </thead>
      <tbody>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'nov' %}">November 2022</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'dec' %}">December 2022</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'jan' %}">January 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'feb' %}">February 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'mar' %}">March 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'apr' %}">April 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'may' %}">May 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'jun' %}">June 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'jul' %}">July 2023</a></td>
        </tr>
        <tr>
          <td><a class="no-decoration" href="{% url 'monthly_objectives' 'aug' %}">August 2023</a></td>
        </tr>
      </tbody>
    </table>


    <div class="card">
      <div class="card-body">
        <a class="card-link btn btn-primary" href="{% url 'objectives_completed' %}">Completed to date</a>
        <a class="btn btn-success" href="{% url 'objectives_search' %}">Search</a>
        <a class="btn btn-warning" href="{% url 'goals' %}">Categorised By Goal</a>
      </div>
    </div>
    

    
    
    
  </div>
{% endblock content %}