{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.1-dist/css/tracker.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <title>Goal Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="no-decoration-black" href="{% url 'index' %}">     
        <div class="navbar-image">
            <img src="{% static 'images/progress_transparent_icon.png' %}" height="50">
            <span class="ml-3"><b>Progress | Daily !</b></span>
        </div>
        </a>   
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="{% url 'gantt_chart' %}">Gantt Chart</a>
            </li>
            <li class="nav-item active pl-3">
              <a class="nav-link" href="{% url 'goals' %}">Goals</span></a>
            </li>            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'objectives' %}">Objectives</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'progress' %}">Progress</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'tasks_due_today' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What's up today?
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Task Summary</a>
                <a class="dropdown-item" href="#">Whats Up tomorrow</a>
                <a class="dropdown-item" href="#">Future Use</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-success" href="{% url 'time_table' %}" class="nav-link">Time Table</a>
            </li>
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock content %}
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> -->
    <script src="{% static 'bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    
</body>
</html>